@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0 auto;
}

img {
    width: 65px;
    height: 65px;
    padding-right: 20px; 
    vertical-align: middle;
}

span {
    vertical-align: middle;
}

.logo {
    margin-left: 60px;
    margin-top: 60px; 
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    margin: 0 auto;
}

#boldH2 {
    font-weight: bold;
}

.card {
    margin: auto;
    width: 53.4%;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 150px;
}

.profileIMG {
    float: left;
    margin-right: 20px;
    width: 154.11px;
    height: 160px;
}

.DIY {
    background: rgba(181, 129, 129);
    color: #FFFF;
    height: 32px;
    border-radius: 10px 10px 0 0;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin-left: 348.5px;
    margin-top: 71px;
    width: 12%;
    padding-top: 12px;
}

.designs-margin {
    background: rgba(181, 129, 129, .12);
    width: 799px;
    height: 275px;
    border-radius:  0 5px 10px 5px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 12px;
    padding-right: 12px; */
}

.designs-list-1 {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

.designs-list-2 {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  /* #small {
    width: 88px;
    height: 45px;
  }

  #smaller {
    width: 35px;
    height: 50px;
  } */

  .designs {
    flex: auto;
    width: 90px;
    height: 90px;
    padding-top: 25px;
    padding-left: 21.6px;
    padding-right: 21.6px;
    padding-bottom: 25px;
}

